<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "Scratch1.4.WindowsXD.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <nameScartch 1.1 APK</name>

    <description>
        An app made using Scratch, GitHub, and PhoneGap. Credit To MIT!
    </description>

    <author href="http://scratch.mit.edu/users/----WindowsXD----- email="windozexpitsxd@gmail.com">
     ----WindowsXD-----
    </author>

</widget>
